@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: vazirMedium;
        src: url("./font/fonts/webfonts/Vazirmatn-Medium.woff2");
    },

    @font-face {
        font-family: vazirBold;
        src: url("./font/fonts/webfonts/Vazirmatn-Bold.woff2");
    }

    @font-face {
        font-family: vazirExtraBold;
        src: url("./font/fonts/webfonts/Vazirmatn-ExtraBold.woff2");
    }

    @font-face {
        font-family: vazirRegular;
        src: url("./font/fonts/webfonts/Vazirmatn-Regular.woff2");
    }
}

@layer components {
    .menu-mobile li {
        @apply mb-3 text-[11px] pr-4; 
    }
    .menu-mobile-li li {
        @apply text-[15px] pr-4;
    }
    .items-menu {
        @apply mr-[-16px] bg-gray-200
    }

    .navbar-items {
        @apply cursor-pointer text-white fill-white lg:text-[#8e939b] rounded-md p-2 lg:p-3.5
        hover:shadow-lg transition-all md:bg-none
    }

    .menu-desktop li {
        color: #585858;
        padding: 15px;
        font-size: 12px;
        font-weight:500;
        cursor:pointer;
        position: relative;
    }
    .after-items-menu-desktop  li{
        content: '';
        width: 0;
        height: 2px;
        margin: 0 auto;
        background-color: #ef5661;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        position: absolute;
        left:0;
        right: 0;
        bottom:0;
    }
    .after-items-menu-desktop  li:hover {
        @apply w-[90px] animate-borderMenu
    }

    .items-menu-desktop li {
        @apply font-vazirRegular text-liDeskMenu text-[13px] mb-3;
        font-weight:400;
        cursor:pointer;
    }
    .items-menu-desktop li:hover {
        color:#445f73;
        font-weight:600;
    }
    .items-menu-desktop ul {
        @apply mt-2.5
    }

    .menu-desktop-h2 div h2 {
        color: #00bfd6;
        padding:7px 2px;
        font-size : 14px;
        font-weight:500;
        box-sizing : border-box;
        cursor:pointer;
        font-family:vazirExtraBold;
    }
    .menu-desktop-h2 div h2:hover {
        border-bottom: 1px dashed #00bfd6;
    }

    .banner-items div h3 {
        @apply text-[#296353] text-[14px];
        font-weight:500;
    } 
    .banner-items div h3:hover {
        color:#445f73;
    }
    .banner-items div span {
        color:#2DCEA2;
        font-size: 12px;
        margin-top:4px;
        font-weight:500;
    }

    .pages {
        @apply grid grid-cols-2  md:grid-cols-4 gap-2.5 md:gap-3 m-3.5 md:m-6 lg:m-8
    }
    .item-pages img {
        @apply rounded-md
    }

    .images-superMarket img {
        @apply w-16 p-1.5 rounded-xl lg:mr-2.5;
        border:1px dashed white;
    }

    .widgets-div div {
        @apply mb-8
    }
    .widgets-li li {
        @apply text-gray-700 font-normal lg:font-medium pt-2 text-sm
    }

    .form-lg input {
        @apply mt-8 w-[32%]
     }
     .form-sm input {
        @apply mt-5 rounded-md outline-none bg-stone-100
         text-blue-950 font-normal w-[75%] li:w-[60%] md:w-1/2 h-10 sm:h-12 pr-3 text-sm
     }

     .form-item span{
        @apply sm:bg-stone-100 sm:hover:bg-stone-300 transition-all w-1/2 h-10 md:h-12 text-blue-950 p-2.5 text-center
     }

     .form-completed {
       @apply border-2 border-solid border-stone-200 focus:border-green-600
     }
     .form-unCompleted {
        @apply border-2 border-solid border-red-600
      }
      .link-back {
        @apply cursor-pointer fixed text-sm sm:text-lg bottom-2 sm:bottom-5 left-2 sm:left-5 text-red-600 border border-solid border-red-600
         rounded-md p-1 sm:p-2.5;
      }
      .link-back-home {
        @apply cursor-pointer fixed text-sm sm:text-lg bottom-2 sm:bottom-5 right-2 sm:right-5 text-red-600 border border-solid border-red-600
         rounded-md p-1 sm:p-2.5;
      }

      .submit-form {
          @apply rounded-lg md:rounded-2xl bg-cyan-800 hover:bg-cyan-900 transition-all 
          text-white font-normal w-[70%] li:w-[55%] md:w-1/2 lg:w-[27%] h-10 sm:h-12 pr-3 mt-5 lg:mt-8;
      }

      .likeT path{
            @apply cursor-pointer fill-red-600
      }
      .likeF path{
        @apply cursor-pointer fill-black
      }

      .image-details div {
        @apply cursor-pointer mr-2 ml-2 md:ml-0 li:mx-auto w-32 lg:w-44 border-2 rounded-md p-1 lg:p-2 border-gray-500 border-solid
      }

      .items-details span {
          @apply text-gray-800 md:mb-2 pr-3 text-[13px]
      }

      .button-addToCart {
          @apply transition-all rounded-md w-[80%] h-10 p-3 text-white text-sm mb-3
      }

      .button-addToBeLoved {
          @apply border border-solid border-black p-2
      }

      .cart-check {
          @apply p-4 sm:p-8 border border-gray-300 border-solid rounded-md
      }

      .total {
          @apply text-[16px] text-stone-500 font-vazirMedium mt-5 mr-3
      }
      .total span {
          @apply text-green-500
      }

      .cart-check-button button {
          @apply bg-green-700 hover:bg-green-800 transition-all rounded-md p-2 text-white font-vazirRegular text-sm
      }

      .pages-sections {
          @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-1 font-vazirMedium mr-10 ml-10
      }

      .pages-sections-map {
          @apply pb-9 bg-white hover:shadow-shadowCart transition-all flex flex-col justify-around
      }
};